body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    background-color: #f4f8fb;
    color: #333;
}

h1 {
    text-align: center;
    color: #004d99;
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

label {
    display: flex;
    justify-content: center; 
    margin-bottom: 5px;
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #004d99;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="date"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"],
input[name="cerrar"] {
    background-color: #004d99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 300px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[name="cerrar"]:hover {
    background-color: #003366;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #004d99;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

td {
    font-size: 14px;
}

td a {
    color: #004d99;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 14px;
    color: #555;
}

a {
    color: #004d99;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: center;
    padding: 20px;
}
